
<div class="pre-footer text-center text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="location">
                    <h3>LOCATION</h3>
                    <p>2215 John Daniel Drive
                        Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="socials">
                    <h3>AROUND THE WEB</h3>
                    <ul class="icons text-center list-unstyled d-flex justify-content-center">
                        <li class="list-item rounded-circle cursor-pointer px-2"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></li>
                        <li class="list-item rounded-circle cursor-pointer px-2"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></li>
                        <li class="list-item rounded-circle cursor-pointer px-2"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></li>
                        <li class="list-item rounded-circle cursor-pointer px-2"><i class="fa fa-github fa-2x" aria-hidden="true"></i></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <h3>ABOUT FREELANCER</h3>
                <div class="about">
                    <p>Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
                </div>
            </div>
            
            
        </div>
    </div>
</div>

<footer class="text-center text-white bg-dark py-3">
    Copyright © Your Website 2021
</footer>