header
{
    height: 100vh;
    background-color: var(--main-color);
}

h1 {
    font-size: 4.5rem;
}

.w-15
{
    width: 15%;
}

.custom-line {
    background-color: #fff;
}

.icon {
    padding: 0 10px;
}

p {
    font-size: 1.5rem;
}