<header class="text-white d-flex flex-column justify-content-center align-items-center">
    <div class="w-15 pb-4">
        <img src="../../assets/images/avataaars.svg" alt="logo">
    </div>
    <h1>START ANGULAR</h1>
    <div class="d-flex align-items-center justify-content-center w-100">
        <div class="custom-line"></div>
        <div class="icon">
            <!-- font awsome star -->
            <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        </div>
        <div class="custom-line"></div>
    </div>
    <p>Graphic Artist - Web Designer - Illustrator</p>
</header>